# User API (FastAPI)
USER_API_PORT=8000
USER_API_DEBUG=true

# Order API (Flask)
ORDER_API_PORT=8001
ORDER_API_DEBUG=true

# PostgreSQL (User API)
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=user_db
POSTGRES_USER=db_user
POSTGRES_PASSWORD=user_pass_2026

# MySQL (Order API)
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DATABASE=order_db
MYSQL_USER=my_user
MYSQL_PASSWORD=my_order_2026
MYSQL_ROOT_PASSWORD=root_pass_2026

# Redis
REDIS_USER_HOST=redis_user
REDIS_USER_PORT=6379
REDIS_ORDER_HOST=redis_order
REDIS_ORDER_PORT=6380
REDIS_CACHE_TTL=300

# Elasticsearch
ELASTICSEARCH_HOST=elasticsearch
ELASTICSEARCH_PORT=9200

# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_USER=ecommercemq
RABBITMQ_PASSWORD=ecommerce_mq_2026

# Encryption (AES-256)
ENCRYPTION_KEY=ZmVybmV0LWtleS1mb3ItZGV2ZWxvcG1lbnQtb25seQ==
